<template name="Search">
   
   <div class="section no-pad-bot">
       <div class="container">
        
        <div class="row center">
         {{> esInput index="diseases" placeholder="Search..." }}
        </div>
        
        <ul>
          {{#esEach index="diseases"}}
              <li>Name of the player: {{name}} </li>
          {{/esEach}}
      </ul>

      {{> esLoadMoreButton index="diseases"}}

      {{#ifEsHasNoResults index="diseases"}}
          <div class="no-results">No results found!</div>
      {{/ifEsHasNoResults}}

      {{#ifEsIsSearching index="diseases"}}
              <div>Loading...</div>
      {{/ifEsIsSearching}}

      </div> 
    </div>
</template>
