<template name="Search">
   
   <div class="section no-pad-bot">
       <div class="container">
        
        <div class="row center">
         {{> esInput index="plantProblem" placeholder="Search" }}
        </div>
      
        <div class="wrapper">
        	{{#ifEsIsSearching index="plantProblem"}}
        		{{>spinner}}
		{{/ifEsIsSearching}}
        
		{{#esEach index="plantProblem"}}
			{{#if equals type "Disease"}}
			<div class="row entity">
			      <!--<img src="{{imageURL}}"/>-->
			      <p>{{classification}} {{type}}</p>
			      <p>{{eng_name}}</p>
			      <p>Filipino Name: {{fil_name}}</p>
			      <p>Scientific Name: {{sci_name}}</p>
			      <p>Plant Affected: {{plant_affected}}</p>
			      <p>{{charLimit symptoms}}</p>
			      <a href="{{pathFor 'entityPage'}}" id="download-button" class="btn waves-effect waves-light teal lighten-1">View Page</a>
			      <a href="{{pathFor 'entityPage'}}" id="download-button" class="btn waves-effect waves-light teal lighten-1">View Images</a>
			</div>
			{{/if}}
			
			{{#if equals type "Pest"}}
			<div class="row entity">
			      <!--<img src="{{imageURL}}"/>-->
			      <p>{{type}}</p>
			      <p>{{eng_name}}</p>
			      <p>Order: {{order}}</p>
			      <p>Filipino Name: {{fil_name}}</p>
			      <p>Scientific Name: {{sci_name}}</p>
			      <p>Plant Affected: {{plant_affected}}</p>
			      <p>{{charLimit symptoms}}</p>
			      <a href="{{pathFor 'entityPage'}}" id="download-button" class="btn waves-effect waves-light teal lighten-1">View Page</a>
			      <a href="{{pathFor 'entityPage'}}" id="download-button" class="btn waves-effect waves-light teal lighten-1">View Images</a>
			</div>
			{{/if}}
		{{/esEach}}
        </div>

      {{> esLoadMoreButton index="plantProblem"}}

      {{#ifEsHasNoResults index="plantProblem"}}
          <div class="no-results">No results found!</div>
      {{/ifEsHasNoResults}}

      </div> 
    </div>
</template>
