/*****************************************************************************/
/* PestSearch: Style */
/*****************************************************************************/
.pest-search {
}

.pest_search_card{
    padding-bottom: 3px;
    height: 380px;
}

.pest_search_activator{
    height: 200px;
}

.dropText{
    font-weight: bold;
    font-size: 14pt;
    font-family: "Arial Black",Gadget,sans-serif;
}

.jqDropZone {
    margin: auto;
    background: lightgrey;
    width: 400px;
    height: 300px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: 2px #666 solid;
    margin-bottom: 5px;
}
.jqDropZone.in {
    width: 400px;
    height: 300px;
    line-height: 200px;
    font-size: larger;
}
.jqDropZone.hover {
    background: lawngreen;
}
.jqDropZone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}