<template name="Banner">
   <div class="parallax-container">
   <div class="section no-pad-bot">
       <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">SARAI</h1>
        <div class="row center">
          <h5 class="header col s12 light grey-text">Pests and Diseases Library</h5>
        </div>
        <div class="row center">
         <a href="{{searchPath}}" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Search</a>
         <a href="{{imageSearchPath}}" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Search by Image</a>
        </div>
        <br><br>

      </div> 
    </div>
    <div class="parallax"><core-image src="/images/bg.jpg" style="width: 100%;height:600px;"></core-image></div>
  </div>
</template>
