<template name="Home">
	<div class="section no-pad-bot">
       <div class="container">
        
        <div class="row center">
         {{> esInput index="plantProblem" placeholder="Search" }}
        </div>
      	<div horizontal center-justified layout>
        	<a href="{{imageSearchPath}}"><paper-button raised class="teal lighten-1 white-text">Search By Image</paper-button></a>
    	</div>
    	<br/>
        <div class="wrapper">
        	{{#ifEsIsSearching index="plantProblem"}}
        		{{>spinner}}
			{{/ifEsIsSearching}}

        <div class="row">
		{{#esEach index="plantProblem"}}
			{{#if equals type "Disease"}}
		        <div class="col s4 grid">
		          <div class="card home_card">
		            <div class="card-image waves-effect waves-block waves-light">
		              <img class="activator activator_image" src="/images/apps/{{type}}/{{imageName name}}.jpg">
		            </div>
		            <div class="card-content">
		            	<span class="card-title activator grey-text text-darken-4">{{titleCharLimit name}}<i class="mdi-navigation-more-vert right"></i></span>
		            	<p><a href="{{pathFor 'entityPage'}}">View Page</a></p>
		            </div>
		            <div class="card-reveal">
		            	<span class="card-title grey-text text-darken-4">{{name}}<i class="mdi-navigation-close right"></i></span>
		            	<p>{{classification}} {{type}}</p>
		            	<p>English Name: {{eng_name}}</p>
		            	<p>Filipino Name: {{fil_name}}</p>
					    <p>Scientific Name: {{sci_name}}</p>
					    <p>Plant Affected: {{plant_affected}}</p>
					    <p>{{charLimit symptoms}}</p>
		            </div>
		          </div>
		        </div>
		        
			{{/if}}
			
			{{#if equals type "Pest"}}
			      <!--<img src="{{imageURL}}"/>-->
			      <div class="col s4 grid">
		          <div class="card home_card">
		            <div class="card-image waves-effect waves-block waves-light">
		              <img class="activator activator_image" src="/images/apps/{{type}}/{{imageName name}}.jpg">
		            </div>
		            <div class="card-content">
		            	<span class="card-title activator grey-text text-darken-4">{{titleCharLimit name}}<i class="mdi-navigation-more-vert right"></i></span>
		            	<p><a href="{{pathFor 'entityPage'}}">View Page</a></p>
		            </div>
		            <div class="card-reveal">
		            	<span class="card-title grey-text text-darken-4">{{name}}<i class="mdi-navigation-close right"></i></span>
		            	<p>{{type}}</p>
		            	<p>Order: {{order}}</p>
		            	<p>English Name: {{eng_name}}</p>
		            	<p>Filipino Name: {{fil_name}}</p>
					    <p>Scientific Name: {{sci_name}}</p>
					    <p>Plant Affected: {{plant_affected}}</p>
					    <p>{{charLimit symptoms}}</p>
		            </div>
		          </div>
		        </div>
		        
			{{/if}}
		{{/esEach}}
		</div>
        </div>

        <div horizontal center-justified layout>
      {{> esLoadMoreButton index="plantProblem" class="waves-effect waves-light btn"}}
      	</div>
      {{#ifEsHasNoResults index="plantProblem"}}
          <div class="no-results">No results found!</div>
      {{/ifEsHasNoResults}}

      </div> 
    </div>

    {{#ifEsInputIsEmpty index="plantProblem"}}
    <div vertical layout class="container">
		<div class="section no-pad-bot">
			<a href="pests"><h1 class="header black-text">Pests</h1></a>
			<div class="row">
				{{#each pests}}
					<div class="col s4">
			          <div class="card home_card">
			            <div class="card-image waves-effect waves-block waves-light">
			              <img class="activator activator_image" src="/images/apps/{{type}}/{{imageName name}}.jpg">
			            </div>
			            <div class="card-content">
			            	<span class="card-title activator grey-text text-darken-4">{{titleCharLimit name}}<i class="mdi-navigation-more-vert right"></i></span>
			            	<p><a href="{{pathFor 'entityPage'}}">View Page</a></p>
			            </div>
			            <div class="card-reveal">
			            	<span class="card-title grey-text text-darken-4">{{name}}<i class="mdi-navigation-close right"></i></span>
			            	<p>{{type}}</p>
			            	<p>Order: {{order}}</p>
			            	<p>English Name: {{eng_name}}</p>
			            	<p>Filipino Name: {{fil_name}}</p>
						    <p>Scientific Name: {{sci_name}}</p>
						    <p>Plant Affected: {{plant_affected}}</p>
						    <p>{{charLimit symptoms}}</p>
			            </div>
			          </div>
			        </div>
				{{/each}}
			</div>
		</div>

		<div class="section no-pad-bot">
			<a href="diseases"><h1 class="header black-text">Diseases</h1></a>
			<div class="row">
				{{#each diseases}}
				<div class="col s4">
		          <div class="card home_card">
		            <div class="card-image waves-effect waves-block waves-light">
		              <img class="activator activator_image" src="/images/apps/{{type}}/{{imageName name}}.jpg">
		            </div>
		            <div class="card-content">
		            	<span class="card-title activator grey-text text-darken-4">{{titleCharLimit name}}<i class="mdi-navigation-more-vert right"></i></span>
		            	<p><a href="{{pathFor 'entityPage'}}">View Page</a></p>
		            </div>
		            <div class="card-reveal">
		            	<span class="card-title grey-text text-darken-4">{{name}}<i class="mdi-navigation-close right"></i></span>
		            	<p>{{classification}} {{type}}</p>
		            	<p>English Name: {{eng_name}}</p>
		            	<p>Filipino Name: {{fil_name}}</p>
					    <p>Scientific Name: {{sci_name}}</p>
					    <p>Plant Affected: {{plant_affected}}</p>
					    <p>{{charLimit symptoms}}</p>
		            </div>
		          </div>
		        </div>
				{{/each}}
			</div>
		</div>
	</div>
	{{/ifEsInputIsEmpty}}
</template>
