<template name="ImageSearch">
	<div class="row container" horizontal center-justified layout>
		<div class='col s12 m6 l6'>
		<a href="pest_search">
		<div class="card large image_search_card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator image_search_activator" src="/images/pest.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Pest</span>
        </div>
      </div>
  		</a>
  		</div>
  		<div class='col s12 m6 l6'>
		<a href="disease_search">
		<div class="card large image_search_card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator image_search_activator" src="/images/disease.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Disease</span>
        </div>
      </div>
  		</a>
  		</div>
	</div>
	 
</template>
