<template name="Diseases">
  <div class="section no-pad-bot">
			<a href="diseases"><h1 class="header black-text">Diseases</h1></a>
			<a class="waves-effect waves-light btn" onclick="$('.grid').show();$('.list').hide();"><i class="mdi-image-grid-on"></i></a>
			<a class="waves-effect waves-light btn" onclick="$('.grid').hide();$('.list').show();"><i class="mdi-action-list"></i></a>
			<div class="row">
				{{#each diseases}}
				<div class="col s4 grid" style="display:none;">
		          <div class="card home_card">
		            <div class="card-image waves-effect waves-block waves-light">
		              <img class="activator activator_image" src="/images/apps/{{type}}/{{imageName name}}.jpg">
		            </div>
		            <div class="card-content">
		            	<span class="card-title activator grey-text text-darken-4">{{titleCharLimit name}}<i class="mdi-navigation-more-vert right"></i></span>
		            	<p><a href="{{pathFor 'entityPage'}}">View Page</a></p>
		            </div>
		            <div class="card-reveal">
		            	<span class="card-title grey-text text-darken-4">{{name}}<i class="mdi-navigation-close right"></i></span>
		            	<p>{{classification}} {{type}}</p>
		            	<p>English Name: {{eng_name}}</p>
		            	<p>Filipino Name: {{fil_name}}</p>
					    <p>Scientific Name: {{sci_name}}</p>
					    <p>Plant Affected: {{plant_affected}}</p>
					    <p>{{charLimit symptoms}}</p>
		            </div>
		          </div>
		        </div>
				{{/each}}
				{{#each diseases}}
				<div class="col s12 list">
			          <div class="card">
			            <div class="card-content">
			            <div class="row">
			            	<div class="col m4 l4">
			            		<img src="/images/apps/{{type}}/{{imageName name}}.jpg" height="270" width="100%">
			            	</div>
				            <div class="col m8 l8">
				              <span class="card-title grey-text text-darken-4">{{name}}</span>
				            	<p>{{classification}}</p>
				            	<p>English Name: {{eng_name}}</p>
				            	<p>Filipino Name: {{fil_name}}</p>
							    <p>Scientific Name: {{sci_name}}</p>
							    <p>Plant Affected: {{plant_affected}}</p>
							    <p>Symptoms: {{ charLimit symptoms}}</p>
							    <p>Description: {{charLimit description}}</p>
				              	<p class="left-align"><a href="{{pathFor 'entityPage'}}">View Page</a>
				           		</p>
				             </div>
			            </div>	
			            </div>
			          </div>
			        </div>
				{{/each}}
			</div>
		</div>
</template>
