/*****************************************************************************/
/* Footer: Style */
/*****************************************************************************/
.footer {
}
footer.page-footer {
  margin: 0;
  position: relative;
  bottom: 0;
}