<template name="entityPage">
	<div class="section no-pad-bot">
		<div class="title-pane container">
				<div class="name-container">
					<h1 class="header teal-text text-lighten-2">{{name}}</h1>
					{{#if equals type 'Pest'}}
						<h6 class="col s12 light grey-text">{{order}}</h6>
					{{/if}}
					{{#if equals type 'Disease'}}
						<h6 class="col s12 light grey-text">{{classification}}</h6>
					{{/if}}
					<img class="materialboxed" width="650" src="/images/apps/{{type}}/{{imageName name}}.jpg">
					<h5 class="header col s12 light grey-text">English Names</h5>
					<p>{{eng_name}}</p>
					{{#if fil_name}}
					<h5 class="header col s12 light grey-text">Filipino Names</h5>
					<p>{{fil_name}}</p>
					{{/if}}
					<h5 class="header col s12 light grey-text">Scientific Name</h5>
					<p>{{sci_name}}</p>
				</div>
				{{#if description}}
				<div class="description-container">
					<h4 class="header teal-text text-lighten-3">Description</h4>
					<p>{{description}}</p>
				</div>
				{{/if}}
				{{#if symptoms}}
				<div class="symptom-container">
					<h4 class="header teal-text text-lighten-3">Symptoms</h4>
					<p>{{symptoms}}</p>
				</div>
				{{/if}}
				{{#if treatment}}
				<div class="treatment-container">
					<h4 class="header teal-text text-lighten-3">Treatment</h4>
					<p>{{treatment}}</p>
				</div>
				{{/if}}
				<div horizontal center-justified layout>
					<a href="{{pathFor searchPath}}" class="waves-effect waves-light btn">Back to Search</a>
				</div>
		</div>
	</div>
</template>

